extend layout
block content
	Say(voice='man')
		| The office is closed now
		| Office hours are between nine and five monday to friday
		| If you would like to e mail the office use info at b nine media dot co dot uk
	Gather()
		Say
			| Other wise if you would like to leave a message please press zero