extend layout
block content
	Say(voice='man')
		| Hi and thanks for calling b nine media, if you would like to talk to
	Gather(action="/dial" method="GET")
			each val, index in menu
				Say(voice='alice')=val.name+' press '+index