extend layout
block content
	Say(voice='man')
		| Please leave a message after the beep
	Record()
		each val, index in menu
			Message(to=val.number from="#{dialledFrom}")
				| You have a voicemail from the general office line from #{dialledFrom}